/* Reset defaults */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}


body {
    font-family: Arial, sans-serif;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    background: #444;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: center;
}

.menu li {
    margin: 0 1rem;
    position: relative;
}

.menu a {
    color: #fff;
    text-decoration: none;
}

.submenu-content {
    display: none;
    position: absolute;
    top: 100%;
    background: #444;
}

.submenu:hover .submenu-content {
    display: block;
}

footer {
    background: #444;
    color: #fff;
    text-align: center;
    padding: 1rem;
}